.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: #836230;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.landingPage h1 {
  font-size: 36px;
  padding: 8px 0 0;
  margin: 0;
}

.landingPage p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #836230b1;
  line-height: 1.5;
  max-width: 500px;
}

.landingPage button {
  margin: 16px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #836230;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.landingPage button a {
  color: #fff;
  text-decoration: none;
}

.landingPage button:hover {
  background-color: #fff;
  border: 1px solid #836230;
}

.landingPage button:hover a {
  color: #836230;
}

.image {
  object-fit: cover;
  border-radius: 5px;
  padding: 32px;
}

/* Media Queries */
@media (max-width: 768px) {
  .landingPage h1 {
    font-size: 28px;
  }

  .landingPage p {
    font-size: 14px;
  }

  .landingPage button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .image {
    padding: 24px;
    width: 700px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .landingPage {
    max-width: 320px;
  }
  .landingPage h1 {
    font-size: 24px;
  }

  .landingPage p {
    font-size: 12px;
  }

  .landingPage button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .image {
    padding: 16px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 375px) {
  .landingPage {
    width: 320px;
  }

  .landingPage h1 {
    font-size: 20px;
  }

  .landingPage p {
    font-size: 10px;
  }

  .landingPage button {
    font-size: 10px;
    padding: 4px 8px;
  }

  .image {
    padding: 12px;
    width: 250px;
    height: 150px;
  }
}
