.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  gap: 16px;
  margin-top: 64px;
  border-top: 1px solid #a48c00;
}

.footer a {
  color: #a48c00;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}

.footer a:hover {
  color: #e2940d;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  padding: 0 10px;
  font-family: "Lobster", cursive;
}

.copyright {
  font-size: 0.9em;
  color: #6c757d;
}

/* Media Queries */
@media (max-width: 768px) {
  .footer {
    gap: 12px;
  }

  .footer a {
    font-size: 16px;
  }

  .logo {
    font-size: 20px;
  }

  .copyright {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .footer {
    gap: 8px;
    margin: 0;
  }

  .footer a {
    font-size: 14px;
  }

  .logo {
    font-size: 18px;
  }

  .copyright {
    font-size: 0.7em;
  }
}

@media (max-width: 375px) {
  .footer {
    gap: 6px;
    padding: 8px 0;
  }

  .footer a {
    font-size: 12px;
  }

  .logo {
    font-size: 16px;
  }

  .copyright {
    font-size: 0.6em;
  }
}
