.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
  padding: 16px 0;
  border-bottom: 1px solid #a48c00;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav ul li {
  list-style: none;
}

.nav a {
  color: #a48c00;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
}

.nav a:hover {
  color: #e2940d;
}

.nav .logo {
  font-size: 24px;
  font-weight: 700;
  padding: 0 10px;
  font-family: "Lobster", cursive;
}

.active a {
  color: #e59f26;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav .logo {
    font-size: 20px;
  }

  .nav a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }

  .nav ul {
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  .nav .logo {
    font-size: 18px;
  }

  .nav a {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .nav {
    flex-direction: column;
    gap: 5px;
    padding: 8px 0;
  }

  .nav ul {
    flex-direction: column;
    gap: 5px;
  }

  .nav .logo {
    font-size: 16px;
  }

  .nav a {
    font-size: 12px;
  }
}
